.project-bg {
  background-image: url(https://res.cloudinary.com/doqmy6uc2/image/upload/v1744620336/image1_e6cuic.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-bg1 {
  background-image: url(https://res.cloudinary.com/doqmy6uc2/image/upload/v1744620457/image13_jnocam.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-bg2 {
  background-image: url(https://res.cloudinary.com/doqmy6uc2/image/upload/v1744620410/image12_rzfvy0.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
