@font-face {
  font-family: "Helvetica-Neue-heavy";
  src: url("../../assets/fonts/HelveticaNeueBold.otf");
}

h1 {
  font-family: "Helvetica-Neue-heavy";
}

#hero {
  background: url("https://res.cloudinary.com/doqmy6uc2/image/upload/v1744698050/bg_home_hero-DiTp72_w_fcq5p6.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;
  position: relative;
}

.layer {
  width: 100%;
  height: 100%;
  background: rgba(50, 34, 7, 0.6);
  position: absolute;
  pointer-events: none;
}
