/*.project-bg {
  background-image: url(https://res.cloudinary.com/dknbojzhe/image/upload/v1757489977/DJI_0982_trvarg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-bg1 {
  background-image: url(https://res.cloudinary.com/dknbojzhe/image/upload/v1757489971/P1117166_pzpqa1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.project-bg2 {
  background-image: url(https://res.cloudinary.com/dknbojzhe/image/upload/v1757489970/P1117190_jomdrq.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
